<!DOCTYPE html>
<html>
<head>
  <title>Binomial</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
    .fraction {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
        .fraction-bar {
            border-top: 1px solid;
            width: 100%;
        }
  </style>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
  <div style='display: none;' id='clr'>{{ session['clr'] }}</div>
  <nav class="navbar bg-body-tertiary fixed-top" id="navbar-bing">
    <div class="container-fluid">
      <img src="{{ url_for('static', filename='favicon.png') }}" height="20" width="20" class="me-2">
      <a class="navbar-brand" href="/">Arithmetic Academy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tools</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Play Quick Arithmetic">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/climbs" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice patterns and sequences here">Climbs</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link active" aria-current="page" href="/bidmas" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Prectice BIDMAS and oder of operations here">BIDMAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/practice" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice operatiosn with fractions here">Fractions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/mixed/0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice operations with mixed fractions here">Mixed Fractions</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link active" aria-current="page" href="/percentages" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice percentages of amounts and percentage changes">Percentages</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link active" aria-current="page" href="/hcf-lcm" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice HCF/GCD anf LCM here">HCF and LCM</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link active" aria-current="page" href="/index-laws" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice the operations with indicies here">Index laws</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link active" aria-current="page" href="/binomial" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Practice binomial expansion here">Binomial expansion</a>
            </li>
            <hr>
            <li class="nav-item d-flex">
              <a class="nav-link active" aria-current="page" href="/change-theme">{% if session['clr'] %}<box-icon type='solid' name='moon'></box-icon>{% else %}<box-icon type='solid' name='sun'></box-icon>{% endif %} Change theme</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br><br><br>
  <div class="container">
    <div style="overflow: nowrap;">
      <h4>
        Enter the binomial coefficients for (1 + {{ m if m - 1 else '' }}x)<sup>{{ n }}</sup>. Enter the coefficients in order of ascending powers of x, with a comma between the coefficients.
      {% if int(dif) %}<a class="nav-link active" class='btn btn-danger' aria-current="page" href="/binomial/0"><button type="button" class="btn btn-success">Change to Easy</button></a>{% else %}<a class="nav-link active" class='btn btn-danger' aria-current="page" href="/binomial/1"><button type="button" class="btn btn-danger">Change to Difficult</button></a>{% endif %}</h4></div>
    <div class="form-group">
      <label for="numerator">Answer:</label>
      <input type="text" class="form-control" id="intpart" placeholder="Enter the answer">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" onclick="checkAnswer()">Check Answer</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.reload()">Skip</button>
    </div>
    <div id="result"></div>
    <div style="display: none;" id="expectedAnswer">{{ ans }}</div>
    <script>
        function sleepOneSecond() {
  console.log("Sleeping for one second...");
  setTimeout(function() {
    console.log("Waking up after one second!");
  }, 1000); // Delay of 1000 milliseconds (1 second)
}

      function checkAnswer() {
        var ans = document.getElementById("intpart").value.trim()
        while (ans.includes(' ')) {
          ans = ans.replace(' ', '')
        }
        while (ans.includes(',')) {
          ans = ans.replace(',', '')
        }
        var expectedAnswer = document.getElementById("expectedAnswer").textContent;
        if (ans == expectedAnswer) {
          document.getElementById("result").innerHTML = "<p class='text-success'>Correct answer!</p>";
          sleepOneSecond();
          window.location.reload()
        } else {
          document.getElementById("result").innerHTML = "<p class='text-danger'>Incorrect answer!</p>";
        }
      }
    </script>
    <script>
      function toggleDarkMode() {
        var clr = document.getElementById('clr').textContent
        var body = document.body;
        console.log(clr)
        console.log(clr == 1)
        if (parseInt(clr) == 1) {
          // Switch to dark mode
          body.style.backgroundColor = '#000000';
          body.style.color = '#ffffff';
          document.getElementById('navbar-bing').setAttribute('data-bs-theme', 'dark');
        }
      }
      toggleDarkMode();
      document.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
        checkAnswer()
    }
});

    </script>
  </div><br>
  
  <!-- <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center" style="padding-top: 5px;">
          <p class="text-muted">Coded by Harihar Rengan</p>
        </div>
      </div>
    </div>
  </footer> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>  
  <script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script></body>
</html>
